@tailwind base;
@tailwind components;
@tailwind utilities;


.custom-scrollbar {
  scrollbar-gutter: stable;
}
/* Sidebar scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #0d948905;
  border-radius: 9999px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #0008089d transparent;
  scrollbar-gutter: stable;
}
